.messageform {
   position: fixed;
   left: $sidebarWidth;
   bottom: 0;
   width: calc(100% - #{$sidebarWidth});
   background-color: map-get($elBgColor, primary);
   padding: 12px 20px;
   z-index: 10;
}

.inputGroup {
   @extend %centerFlex;
   >.iconBox {
      @include size(35px);
      font-size: 25px;
      text-align: center;
      cursor: pointer;
      color: map-get($fontColor, primary);
      line-height: initial;
   }
   >.msgInput {
      flex: 1;
      margin: 0 10px;
      height: 40px;
      padding: 8px 20px; 
      border-radius: 40px;
      border: 1px solid map-get($borderColor, divide);
      outline: none;
      resize: none;
   }
}