<div id="sidebar">
   <div class="block userBlock">
      <img :src="userProfile.picture" class="avatarImg">
      <p class="userName">{{ userProfile.name }}</p>
      <button class="btn btn-outline-light btn-logout" @click="logout">登出</button>
   </div>
   <!-- <button class="btn btn-outline-primary" @click="openModal">Add Channel</button> -->
   <div class="block channelBlock">
      <h3 @click="showChannel = !showChannel">
         <span>Channel</span>
         <span class="count">({{ totalChannel }})</span>
         <i class="fa fa-caret-down" :class="{rotate:!showChannel}" aria-hidden="true"></i>
      </h3>
      <div class="toggle" :class="{show:showChannel}">
         <ChannelItem
            v-for="channel in channelLists"
            :key="channel.id"
            :id="channel.id"
            :channelName="channel.name">
         </ChannelItem>
      </div>
   </div>
   <div class="block friendBlock">
      <h3 @click="showFriend = !showFriend">
         <span>Friends</span>
         <span class="count">({{ totalUser }})</span>
         <i class="fa fa-caret-down" :class="{rotate:!showFriend}"  aria-hidden="true"></i>
      </h3>
      <div class="toggle" :class="{show:showFriend}">
         <Users
            v-for="user in userLists"
            :key="user.uid"
            :userId="user.uid"
            :userName="user.name"
            :avatar="user.avatar"
            :isOnline="user.isOnline"
         ></Users>
      </div>
   </div>
</div>