<div class="messageOuter">
   <div class="channelBar" v-if="isOpenChannel">Channel: {{ channelName }}</div>
   <div class="messageContent" ref="messageContent">
      <div class="single-group" v-if="isOpenChannel">
         <SingleMessage
            v-for="msg in msgLists"
            :key="msg.msgId"
            :msgId="msg.msgId"
            :content="msg.content"
            :contentType="msg.contentType"
            :userName="msg.user.name"
            :userId="msg.user.id"
            :avatar="msg.user.avatar"
            :timestamp="msg.timestamp"
            @toBottom="scrollToBottom"
            @selectImg="selectImg"
         ></SingleMessage>
      </div>
      <div class="emptyBlock" v-else>
         <i class="fa fa-commenting-o" aria-hidden="true"></i>
         <p>講幹話吧~</p>
      </div>
   </div>
   <MessageForm
      v-if="isOpenChannel"
      @sendMsg="sendMsg"
      @uploadFile="uploadFileHandler"
   ></MessageForm>
   <ProgressLoading
      :isUploading="isUploading"
      :uploadPercent="uploadPercent"
   ></ProgressLoading>
   <Lightbox :isOpen.sync="lightBoxIsOpen">
      <template v-slot:default>
         <div class="photoFrame">
            <img :src="photoUrl" alt="">
         </div>
      </template>
   </Lightbox>
</div>