<div class="chatPage">
   <div class="sidebarOuter">
      <sidebar
         @logout="logoutHandler"
         @openModal="openModal"
      ></sidebar>
   </div>
   <div class="contentOuter">
      <Message></Message>
   </div>

   <Loading v-show="isLoading"></Loading>

   <!-- add channel modal -->
   <div class="modal fade" id="channelModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title text-dark">Channel name</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <input 
                        type="text" 
                        id="new_channel"
                        class="form-control"
                        name="new_channel"
                        placeholder="Channel name"
                        autocomplete="off"
                        v-model.trim="new_channel">
                  </div>
                  <ul class="list-group">
                     <li class="list-group-item text-danger" v-show="hasAddError">
                        {{ addError }}
                     </li>
                  </ul>
               </form>
            </div>
            <div class="modal-footer">
               <button class="btn btn-secondary" data-dismiss="modal">Cancle</button>
               <button class="btn btn-primary" @click="addChannel">Add Channel</button>
            </div>
         </div>
      </div>
   </div>
</div>