<section class="loginPage">
   <div class="custom_container">
      <div>
         <h2 class="chatroomTitle" :class="{active: showTitle}" ref="chatroomTitle">幹話聊天室</h2>
         <div class="iconBox">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
         </div>
      </div>
      <div class="text-center">
         <button class="btn btn-danger google-login" @click="loginWithGoogle">
            Google 登入
         </button>
         <p class="validate-error" v-show="hasError">{{ loginErrorMsg }}</p>
      </div>
   </div>
   <Loading v-show="isLoading"></Loading>
</section>
