.loginPage {
   min-height: 100vh;
   background-color: map-get($elBgColor, primary);
}

.chatroomTitle {
   margin-bottom: 0;
   padding-top: 80px;
   color: #fff;
   font-size: 80px;
   text-align: center;
   letter-spacing: 3px;
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
   transition-delay: 0.25s;
   &.active {
      opacity: 1;
      transform: translateY(0);
   }
}

.iconBox {
   transform: translateY(-50px);
   text-align: center;
   color: #fff;
   font-size: 180px;
   line-height: initial;
}

.google-login {
   width: 250px;
   padding: 15px;
   font-size: 20px;
}